@import "tailwindcss";

:root {
  --background: #ffffff;
  --graybackground: #f6f6f6;
  --color-black: #52504d;
  --color-blue: #075cd5;
}

@layer components {
  .headerstyle {
    @apply cursor-pointer flex justify-center items-center bg-[var(--graybackground)] px-3 py-[0.5rem] rounded-[0.85rem] text-sm;
  }
  .iconSide {
    @apply w-[20px] h-[20px];
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
